
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

/*****************************************************************************************
GLOBAL
*****************************************************************************************/










/*****************************************************************************************
NAVIGATION
*****************************************************************************************/





.top-navigation {
  height: 80px;
  background-color: #000;
  color: #FFFFFF;

  #profile-nav {
    display: inline-block;

    h3 {
      display: inline-block;
      margin-left: 10px;
      font-size: 30px;
    }
  }

  a {
    display: inline;
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    margin-top: 3px;
    margin-right: 30px;
  }

  a:hover {
    color: #FFBE5D;
  }

}






/*****************************************************************************************
MAIN
*****************************************************************************************/

body {
  // background-color: #DBDBDB;
}

/******************************************
Landing
******************************************/

#landing {
  background-image: url("../images/sunset-desktop-wp.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 800px;
  width: 100%;
}

a {
  text-decoration: none;
  height: 500px;

  .app-title {
    color: #fff;
    width: 100%;
    text-align: center;
    font-size: 56px;
    margin-top: 130px;
  }

  .landing-caption {
    color: #fff;
    width: 100%;
    text-align: center;
    font-size: 18px;
    margin-bottom: 90px;
  }
}

a:hover {
  text-decoration: none;

}

.information-one {
  display: inline-block;
  margin-left: 90px;
}

.information-two {
  display: inline-block;
  margin-left: 160px;
  margin-right: 160px;
}

.information-three {
  display: inline-block;
}

.catagory-icon {
  border: 1px solid #fff;
  height: 90px;
  width: 90px;
  border-radius: 45px;
  display: inline-block;
  background-color: black;
  margin-top: 100px;
  margin-left: 78px;
}

.catagory-container {
  width: 250px;
  height: 100px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 35px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 35px -6px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 35px -6px rgba(0,0,0,0.75);

  .catagory-title {
    color: #FFBE5D;
    font-size: 25px;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 8px;
    margin-left: 15px;
    margin-right: 15px;
  }
}


/******************************************
Signup
******************************************/


.entrance-container {
  background-image: url("../images/login3.jpg");
  background-position: center;
  background-size: cover;
  height: 700px;
}

#signup-container {
  background-color: rgba(0, 0, 0, 0.4);
  height: 300px;
  margin-top: 150px;
  padding-left: 150px;

  #email {
    width: 400px;
    height: 35px;
    border: 1px solid #EEEEEE;
    border-radius: 3px;
    margin-top: 60px;
  }

  #password {
    width: 400px;
    height: 35px;
    border: 1px solid #EEEEEE;
    border-radius: 3px;
    margin-top: 40px;
  }

}

.enter-button {
  width: 400px;
  height: 28px;
  margin-top: 30px;
  border: 1px solid #727076;
  border-radius: 3px;
  background-color: #000;
  color: #FFBE5D;
}

.enter-button:hover{
  background-color: #FFBE5D;
  color: black;
}

#login-container {
  background-color: rgba(0, 0, 0, 0.4);
  height: 300px;
  margin-top: 150px;
  padding-left: 70px;

  #username {
    width: 400px;
    height: 35px;
    border: 1px solid #EEEEEE;
    border-radius: 3px;
    margin-top: 60px;
  }

  #login-password {
    width: 400px;
    height: 35px;
    border: 1px solid #EEEEEE;
    border-radius: 3px;
    margin-top: 40px;
  }
}


/******************************************
Profile
******************************************/


.navigation-links {
  margin-top: 50px;
}

.bike-components {
  position: absolute;
  top: 20px;
  background-color: rgba(114, 112, 118, 0.6);
  width: 235px;
  height: 235px;
  border-radius: 120px;
  margin-left: 110px;
  padding-right: 90px;
}

.components-link {
  text-align: center;
  padding-top: 100px;
  font-size: 30px;
  color: #FFBE5D;
  width: 235px;
  height: 235px;
  background-image: url("../images/phil-wood.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 120px;
  margin-left: 110px;
  margin-right: 80px;
}

.build-bike {
  position: absolute;
  top: 20px;
  background-color: rgba(114, 112, 118, 0.6);
  width: 235px;
  height: 235px;
  border-radius: 120px;
  margin-left: 65px;
}

.build-title {
  text-align: center;
  padding-top: 100px;
  font-size: 30px;
  color: #FFBE5D;
  width: 235px;
  height: 235px;
  background-image: url("../images/mechanic1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 120px;
  margin-left: 65px;
}

.bike-builds {
  position: absolute;
  top: 20px;
  background-color: rgba(114, 112, 118, 0.6);
  width: 235px;
  height: 235px;
  border-radius: 120px;
  margin-left: 20px;
}

.builds-link {
  text-align: center;
  padding-top: 100px;
  font-size: 30px;
  color: #FFBE5D;
  width: 235px;
  height: 235px;
  background-image: url("../images/bike1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 120px;
  margin-left: 20px;
}

.build-image::before {
  background-color: rgba(0, 0, 0, 0.5);
}

.frames {

}

.frame-display {
  color: #fff;
  font-size: 18px;
}

.build-image {
  height: 300px;
}

.bikes-built {
  width: 400px;

}


/******************************************
Frame Selection
******************************************/

.frames {
  color: #2C3A44;
  margin-left: 72px;
  margin-top: 60px;
  margin-bottom: 30px;
}

.frame-display {
  margin-left: 60px;

  .frame-button-and-caption {
    color: #ffffff;
  }

  .frame-image {
    width: 500px;
    -webkit-box-shadow: 0px 4px 37px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 37px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 37px -5px rgba(0,0,0,0.75);
    margin-top: 30px;
  }

  .image-caption {
    padding-bottom: 30px;
    background-color: #68787F;
    width: 500px;
    height: 30px;
    padding-left: 30px;
    padding-top: 10px;
    margin-bottom: 20px;
  }
}

/******************************************
Building Page
******************************************/

.add-frame-checkbox-labels {
  display: block;

  .frame-image {
    width: 300px;
    display: block;
  }

  .frame-name-caption {
    width: 300px;
    display: block;
  }

  .current-build-list {
    border: 1px solid black;
    width: 400px;
    height: 400px;
    display: block;
  }
}

.component-title {
  width: 458px;
  height: 40px;
  background-color: black;
  color: #fff;
  padding-left: 15px;
  padding-top: 6px;
}

.item-display-container li {
  list-style: none;
}

.item-name {
  padding-left: 7px;
}

.compatible-parts {
  display: inline-block;
  border-left: 1px solid black;
  padding-left: 80px;
  float: right;

  .stem-caption {
    display: inline-block;

  }
}





#add-frame-form-button {
  display: inline-block;

}


/******************************************
Part Forms
******************************************/


li {
  list-style: none;
}



.part-selection {
  margin-top: 28px;
  margin-bottom: 40px;
}

.part-item {

  a {
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-weight: 600;

  }

  .link-container {
    background-color: #727076;
    color: #fff;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .link-container:hover {
    background-color: #FFBE5D;
    color: #000;
  }

  .form-title {
    display: inline-block;
    text-align: right;
    padding-left: 20px;
    padding-bottom: 20px;
    height: 40px;
  }

  .chain-description {
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    margin-left: 145px;
    padding-bottom: 20px;
    width: 500px;
    height: 40px;
  }

  .chainring-description {
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    margin-left: 98px;
    padding-bottom: 16px;
    width: 500px;
  }

  .cranks-description {
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    margin-left: 105px;
    padding-bottom: 16px;
    width: 500px;
  }

  .bottombracket-description {
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    margin-left: 34px;
    padding-bottom: 16px;
    width: 500px;
  }

  .retention-description {
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    margin-left: 50px;
    padding-bottom: 16px;
    width: 500px;
  }

  .pedals-description {
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    margin-left: 147px;
    padding-bottom: 16px;
    width: 500px;
  }

  .saddles-description {
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    margin-left: 134px;
    padding-bottom: 16px;
    width: 500px;
  }

  .seatposts-description {
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    margin-left: 109px;
    padding-bottom: 16px;
    width: 500px;
  }

  .headset-description {
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    margin-left: 117px;
    padding-bottom: 16px;
    width: 500px;
  }

  .stem-description {
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    margin-left: 155px;
    padding-bottom: 16px;
    width: 500px;
  }

  .handlebars-description {
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    margin-left: 93px;
    padding-bottom: 16px;
    width: 500px;
  }

  .frames-description {
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    margin-left: 142px;
    padding-bottom: 16px;
    width: 500px;
  }

  .wheels-description {
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    margin-left: 108px;
    padding-bottom: 16px;
    width: 500px;
  }

  .tires-description {
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    margin-left: 174px;
    padding-bottom: 16px;
    width: 500px;
  }

}

.add-component-heading {
  margin-top: 40px;
  margin-bottom: 15px;
}

.btn-primary {
  margin-bottom: 80px;
}






/*****************************************************************************************
FOOTER
*****************************************************************************************/
