
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

/*****************************************************************************************
GLOBAL
*****************************************************************************************/










/*****************************************************************************************
NAVIGATION
*****************************************************************************************/





.top-navigation {
  height: 80px;
  background-color: #CCCCCC;

  .logo img {
    height: 80px;
    width: 80px;
  }

  .title {
    display: inline-block;
  }

  .blog {
    display: inline-block;
    float: right;
  }

  .about {
    display: inline-block;
    float: right;
  }

  .user-account {
    display: inline-block;
    float: right;
  }

}





/*****************************************************************************************
MAIN
*****************************************************************************************/











/*****************************************************************************************
FOOTER
*****************************************************************************************/
